In [28]:
import pandas as pd
import numpy as np
import os
import glob

In [29]:
input_path = '../output/blend/*.csv'
# input_path = '/Users/zakopuro/Code/python_code/kaggle/test_blend/*.csv'
sub_path = glob.glob(input_path)

In [30]:
sub_path

['../output/blend/057_sub_blend.csv',
 '../output/blend/kernel9518.csv',
 '../output/blend/kernel9527.csv']

In [31]:

# for i,path in enumerate(sub_path):
# input_path = '../output/blend/'
# sub1 = pd.read_csv(input_path+'055_sub_lgb.csv')
# sub2 = pd.read_csv(input_path+'049_sub_lgb.csv')
# sub3 = pd.read_csv(input_path+'kernel0.9467.csv')
# sub4 = pd.read_csv(input_path+'kernel0.9484.csv')
# sub2 = pd.read_csv(input_path+'kernel1.csv')
# sub3 = pd.read_csv(input_path+'kernel2.csv')
# sub4 = pd.read_csv(input_path+'kernel3.csv')
# sub5 = pd.read_csv(input_path+'049_sub_lgb.csv')
# sub6 = pd.read_csv(input_path+'kernel4.csv')
# sub7 = pd.read_csv(input_path+'055_sub_lgb.csv')
# sub5 = pd.read_csv(input_path+'kernel_NN.csv')
sub1 = pd.read_csv(sub_path[0])
sub2 = pd.read_csv(sub_path[1])
sub3 = pd.read_csv(sub_path[2])
# sub4 = pd.read_csv(sub_path[3])
# sub5 = pd.read_csv(sub_path[4])
# sub6 = pd.read_csv(sub_path[5])
# sub7 = pd.read_csv(sub_paht[6])
# sub8 = pd.read_csv(sub_paht[7])
# sub9 = pd.read_csv(sub_paht[8])
# sub10 = pd.read_csv(sub_paht[9])
# sub11 = pd.read_csv(sub_paht[10])

In [5]:
sub_all = pd.concat([sub1['TransactionID'],sub1['isFraud'],sub2['isFraud'],sub3['isFraud'],sub4['isFraud']],axis=1)

In [7]:
# sub_all.columns = ['TransactionID','m0','m1','m2','m3','m4','m5']
sub_all.columns = ['id','m0','m1','m2','m3']

In [8]:
ncol = sub_all.shape[1]

In [9]:
sub_all.iloc[:,1:ncol].corr()

          m0        m1        m2        m3
m0  1.000000  0.977296  0.985290  0.989777
m1  0.977296  1.000000  0.974461  0.982678
m2  0.985290  0.974461  1.000000  0.997080
m3  0.989777  0.982678  0.997080  1.000000

In [10]:
# rank = np.tril(sub_all.iloc[:,1:ncol].corr().values,-1)
# m_gmean = 0
# m = 12
rank = np.tril(sub_all.iloc[:,1:].corr().values,-1)
m = (rank>0).sum()
m_gmean, s = 0, 0

In [11]:
# for n in range(m):
#     mx = np.unravel_index(rank.argmin(), rank.shape)
#     m_gmean += (m-n)*(np.log(sub_all.iloc[:, mx[0]+1]) + np.log(sub_all.iloc[:, mx[1]+1]))/2
#     rank[mx] = 1
# m_gmean = np.exp(m_gmean/s)
for n in range(min(rank.shape[0],m)):
    mx = np.unravel_index(rank.argmin(), rank.shape)
    w = (m-n)/(m+n)
    print(w)
    m_gmean += w*(np.log(sub_all.iloc[:,mx[0]+1])+np.log(sub_all.iloc[:,mx[1]+1]))/2
    s += w
    rank[mx] = 1
m_gmean = np.exp(m_gmean/s)

1.0
0.7142857142857143
0.5
0.3333333333333333

In [12]:
m_gmean

0         0.001768
1         0.004399
2         0.003381
3         0.003218
4         0.003541
5         0.005533
6         0.017031
7         0.025741
8         0.001138
9         0.007272
10        0.010278
11        0.007526
12        0.041324
13        0.004745
14        0.005401
15        0.008285
16        0.004532
17        0.007127
18        0.018434
19        0.009960
20        0.008048
21        0.004938
22        0.013549
23        0.006427
24        0.016773
25        0.021308
26        0.007751
27        0.011822
28        0.006655
29        0.010908
            ...
506661    0.009976
506662    0.024149
506663    0.005891
506664    0.005700
506665    0.010776
506666    0.009323
506667    0.012101
506668    0.003545
506669    0.035649
506670    0.008377
506671    0.007728
506672    0.010086
506673    0.002579
506674    0.008380
506675    0.030910
506676    0.046031
506677    0.006336
506678    0.003225
506679    0.033208
506680    0.018245
506681    0.024944
506682    0.016190
506683    0.004048
506684    0.006722
506685    0.005454
506686    0.016023
506687    0.009800
506688    0.009911
506689    0.012911
506690    0.006133
Name: m0, Length: 506691, dtype: float64

In [13]:
sub1['isFraud'] = m_gmean

In [32]:
sub1['isFraud'] = sub1['isFraud'] *0.2 + sub2['isFraud'] * 0.3 + sub3['isFraud'] *0.5

In [33]:
sub1.head()

   TransactionID   isFraud
0        3663549  0.002206
1        3663550  0.005805
2        3663551  0.004105
3        3663552  0.003276
4        3663553  0.005053

In [34]:
sub1.to_csv('/Users/zakopuro/Code/python_code/kaggle/IEEE_Fraud_Detection/output/087_sub_blend.csv',index=False)